<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Reference Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{../css/reservation.css}">
    <title>All Registred Users</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/admin/main}">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" th:action="@{/admin/users}" th:object="${userList}" method="get">
                <label for="name"></label>
                <input class="form-control mr-sm-2" type="search" name="name" placeholder="Search for email">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <form ui-jp="parsley" th:action="@{/admin/users}" th:object="${userList}" method="get">
        <div style="display:none" class="form-group">
            <label for="name"></label>
            <input type="text" name="name" placeholder="Search Email here">
        </div>
        <button style="display:none;" type="submit">Search</button>
    </form>

    <!-- Reservations Table Section -->
    <section class="admin-container container">
        <h2>All Registred Users</h2>
        <table id="myTable" class="table table-bordered table-responsive-lg" data-toggle="table" data-pagination="true"
            data-search="true">

            <!-- thead Table elements -->
            <thead class="thead-admin thead-dark">
                <tr>
                    <th>User ID</th>
                    <th>User Email</th>
                    <th>User First Name</th>
                    <th>User Last Name</th>
                </tr>
            </thead>

            <!-- loop in each reservation -->
            <tbody>
                <tr th:each=" user : ${userList}">
                    <td style="text-align: center; vertical-align: middle;" th:text="${user.id}" />
                    <td style="text-align: center; vertical-align: middle;" th:text="${user.email}" />
                    <td style="text-align: center; vertical-align: middle;" th:text="${user.firstName}" />
                    <td style="text-align: center; vertical-align: middle;" th:text="${user.lastName}" />
                </tr>
            </tbody>
        </table>
    </section>
</body>

</html>