<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{../css/reservation.css}">
    <title>All Reservations</title>
</head>

<body>
    <!-- Navbar för main knappen till vänster, sök rutan till höger -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/admin/main}">Main</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" th:action="@{/admin/reservations}" th:object="${resList}"
                method="get">
                <label for="name"></label>
                <input class="form-control mr-sm-2" type="search" name="name" placeholder="Search for email">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <form ui-jp="parsley" th:action="@{/admin/reservations}" th:object="${resList}" method="get">
        <div style="display:none" class="form-group">
            <label for="name"></label>
            <input type="text" name="name" placeholder="Search Email here">
        </div>
        <button style="display:none;" type="submit">Search</button>
    </form>

    <!-- Reservations tabell -->
    <section class="admin-container container">
        <h2>All Reservations</h2>
        <table id="myTable" class="table table-bordered table-responsive-lg">
            <!-- Kolumn namn -->
            <thead class="thead-admin thead-dark">
                <tr>
                    <th onclick="sortTable(0)">Res ID &#8645</th>
                    <th onclick="sortTable(1)">Room &#8645</th>
                    <th onclick="sortTable(2)">Rooms &#8645</th>
                    <th onclick="sortTable(3)">Persons &#8645</th>
                    <th onclick="sortTable(4)">Children &#8645</th>
                    <th onclick="sortTable(5)">Dinner &#8645</th>
                    <th onclick="sortTable(6)">Stay Days &#8645</th>
                    <th onclick="sortTable(7)">Arrival Date &#8645</th>
                    <th onclick="sortTable(8)">Total Price &#8645</th>
                    <th onclick="sortTable(9)">User Email &#8645</th>
                    <th>Action</th>
                </tr>
            </thead>
            <!-- Utskrift av reservation i tabellen -->
            <tbody>
                <tr th:each=" tempRes : ${resList}">
                    <td style="text-align: center; vertical-align: middle;" th:text="${tempRes.id}" />
                    <td style="text-align: center; vertical-align: middle;" th:text="${tempRes.roomType}" />
                    <td style="text-align: center; vertical-align: middle;" th:text="${tempRes.rooms}" />
                    <td style="text-align: center; vertical-align: middle;" th:text="${tempRes.persons}" />
                    <td style="text-align: center; vertical-align: middle;" th:text="${tempRes.children}" />
                    <td style="text-align: center; vertical-align: middle;" th:text="${tempRes.dinner}" />
                    <td style="text-align: center; vertical-align: middle;" th:text="${tempRes.stayDays}" />
                    <td style="text-align: center; vertical-align: middle;" th:text="${tempRes.arrivalDate}" />
                    <td style="text-align: center; vertical-align: middle;" th:text="${tempRes.price}" />
                    <td style="text-align: center; vertical-align: middle;" th:text="${tempRes.userEmail}" />
                    <td>
                        <!-- Ändra eller radera knappen i tabellen -->
                        <div class="rows">
                            <div class="col-small">
                                <form th:action="@{/admin/reservation-update}" method="POST">
                                    <input type="hidden" name="resId" th:value="${tempRes.id}" />
                                    <button type="submit" class="btn btn-info btn-lg">Change</button>
                                </form>
                            </div>
                            <div class="col-small">
                                <form th:action="@{/admin/reservation-delete}" method="POST">
                                    <input type="hidden" name="resId" th:value="${tempRes.id}" />
                                    <button type="submit" class="btn btn-danger btn-lg"
                                        onclick="if (!(confirm('Are you sure you want to delete this Reservation?'))) return false">
                                        Delete</button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <script th:src="@{../scripts/sort-table.js}"></script>
</body>

</html>