<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" th:href="@{../css/booking.css}">
	<title>Update a reservation</title>
</head>

<body>
	<div class="container">
		<div style="margin-left: 83px;">
			<br><br>
			<h3>Booking Form</h3>
			<br>
			<!-- Bokningsformuläret -->
			<form name="resForm" th:action="@{/admin/proceed-update-reservation}" th:object="${newRes}" method="POST">
				<div class="form-group">
					<!-- Val av Room Type -->
					<input type="hidden" th:field="*{id}" /> <label>Room type</label>
					<select class="form-control prc" th:field="*{roomType}" required>
						<option value="Junior Suite">Junior Suite</option>
						<option value="Single Room">Single Room</option>
						<option value="Superior Suite">Superior Suite</option>
						<option value="Executive Suite">Executive Suite</option>
						<option value="Rooftop Suite">Rooftop Suite</option>
						<option value="Terrace Suite">Terrace Suite</option>
						<option value="Royal Suite">Royal Suite</option>
						<option value="Deluxe Room">Deluxe Room</option>
					</select>
				</div>
				<!-- Inskrivning av Staying days -->
				<div class="form-group">
					<label>Staying days</label> <input class="form-control prc" th:field="*{stayDays}"
						placeholder="Number of staying days" type="number" required />
				</div>
				<!-- Inskrivning av Rooms -->
				<div class="form-group">
					<label>Rooms</label> <input class="form-control prc" th:field="*{rooms}" type="number"
						placeholder="Number of rooms" required />
				</div>
				<!-- Inskrivning av Adults -->
				<div class="form-group">
					<label>Adults</label> <input class="form-control prc" placeholder="Number of adults age 18+"
						type="number" th:field="*{persons}" required />
				</div>
				<!-- Inskrivning av Children -->
				<div class="form-group">
					<label>Children</label> <input class="form-control prc" placeholder="Number of children age 6+"
						type="number" th:field="*{children}" required />
				</div>
				<!-- Val av including dinner -->
				<div class="form-group">
					<label>Including dinner</label> <select class="form-control prc" th:field="*{dinner}" required>
						<option value="YES">Yes</option>
						<option value="NO">No</option>
					</select>
				</div>
				<!-- dold fält för att skicka user email i denna "label" för att genomföra rätt user email för uppdatering av bokningen  -->
				<div class="form-group">
					<input class="form-control prc" placeholder="Guest email" type="hidden" th:field="*{userEmail}"
						required />
				</div>
				<!-- dold fält för att skicka user id i denna "label" för att genomföra rätt user för uppdatering av bokningen  -->
				<div class="form-group">
					<input class="form-control prc" type="hidden" th:field="*{userId}" required />
				</div>
				<!-- Val av Arrival Date -->
				<div class="form-group">
					<label>Visiting start from date </label> <br> <label class="date-label">Arrival date:</label><input
						th:field="*{arrivalDate}" type="date" id="dateTime_arr" name="dateTime" required />
				</div>
				<!-- dold fält för att skicka live priset i denna "label" för att genomföra bokningen  -->
				<div class="form-group">
					<input type="hidden" id="priceField" value="" th:field="*{price}" />
				</div>
				<!-- Live pris räkning -->
				<div class="form-group">
					<div class="price-lab">
						TOTAL PRICE: <label><output class="price-fi" id="price-count"></output></label> kr
					</div>
				</div>
				<!-- Genomföra eller avbryta formulären -->
				<button type="submit" class="sub-btn">Submit</button>
				<button class="cancel"><a class="button" th:href="@{/admin/main}">Cancel</a></button>
			</form>
		</div>
	</div>
	<!-- Javascript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script th:src="@{../scripts/price.js}"></script>
</body>

</html>