<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Main Page</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" th:href="@{../css/hotel-rooms.css}">
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="room-info card" style="width: 30rem; margin: 30px;">
				<div class="col-lg-12">
					<h3>Single Room:</h3>
					<a th:href="@{/user/booking-rooms}">
						<img style="width: 450px;" src="../images/unsplash3.jpg">
					</a>
					<p>
						Single Room <br> with free breakfast for one person or two
						start from $500 for night up to $1999.
					</p>
				</div>
			</div>

			<div class="room-info card" style="width: 30rem; margin: 30px;">
				<div class="col-lg-12">
					<h3>Double Room:</h3>
					<a th:href="@{/user/booking-rooms}">
						<img style="width: 450px;" src="../images/unsplash2.jpg">
					</a>
					<p>
						Double Room <br> with free breakfast for three persons or
						four start from $1000 for night up to $2999.
					</p>
				</div>
			</div>

			<div class="room-info card" style="width: 30rem; margin: 30px;">
				<div class="col-lg-12">
					<h3>Family Room:</h3>
					<a th:href="@{/user/booking-rooms}">
						<img style="width: 450px;" src="../images/unsplash1.jpg">
					</a>
					<p>
						Family Room <br> with free breakfast for four persons or
						five start from $1300 for night up to $3299.
					</p>
				</div>
			</div>

			<div class="room-info card" style="width: 30rem; margin: 30px;">
				<div class="col-lg-12">
					<h3>Honeymoon Suite:</h3>
					<a th:href="@{/user/booking-rooms}">
						<img style="width: 450px;" src="../images/unsplash4.jpg">
					</a>
					<p>
						Honeymoon Suite <br> with breakfast and ready for any
						surprises and customized equipment and start from $1000 for
						night up to $4999.
					</p>
				</div>
			</div>
		</div>
	</div>
</body>

</html>