<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Main Page</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" th:href="@{../css/hotel-rooms.css}">
</head>

<body>

	<br>
	<div>
		<a class="page-btns" href="/user/main">Main</a>
	</div>

	<h1>OUR ROOMS AND SUITES</h1>

	<div class="container">
		<div class="row">
			<div class="room-info card" style="width: 30rem; margin: 30px;">
				<div class="col-lg-12">
					<h3>SINGLE ROOM</h3>
					<a th:href="@{/user/booking-rooms}">
						<img style="width: 450px;" src="../images/single-unsplash.jpg">
					</a>
					<p>
						Single Room <br>
						There's no such thing as a standard room at our Hotel, and our Single Rooms, Are no exception.
						Each room in this category is individually decorated, providing the perfect retreat for the solo
						traveller.
					</p>
				</div>
			</div>

			<div class="room-info card" style="width: 30rem; margin: 30px;">
				<div class="col-lg-12">
					<h3>JUNIOR SUITE</h3>
					<a th:href="@{/user/booking-rooms}">
						<img style="width: 450px;" src="../images/junior-pixabay.jpg">
					</a>
					<p>
						Junior Suite <br>
						Our Junior Suites boast elegant furnishings, a lavish bathroom and distinctive sitting area for
						the ultimate feeling of space and comfort.
					</p>
				</div>
			</div>

			<div class="room-info card" style="width: 30rem; margin: 30px;">
				<div class="col-lg-12">
					<h3>SUPERIOR SUITE</h3>
					<a th:href="@{/user/booking-rooms}">
						<img style="width: 450px;" src="../images/superior-pixabay.jpg">
					</a>
					<p>
						Superior Suite <br>
						Indulge in a little more space in a Superior Suite, comprising a separate bedroom and living
						room.
						Wake up to a lazy morning in a sumptuous king-sized bed, or spend time relaxing or working in
						the sitting room.
					</p>
				</div>
			</div>

			<div class="room-info card" style="width: 30rem; margin: 30px;">
				<div class="col-lg-12">
					<h3>EXECUTIVE SUITE</h3>
					<a th:href="@{/user/booking-rooms}">
						<img style="width: 450px;" src="../images/executive-pixabay.jpg">
					</a>
					<p>
						Executive Suite <br>
						Enjoy even more of the suite life in an expansive Executive Suite.
						Boasting sweeping waterfront views over the city, with a magnificent interior to match.
					</p>
				</div>
			</div>

			<div class="room-info card" style="width: 30rem; margin: 30px;">
				<div class="col-lg-12">
					<h3>ROOFTOP SUITE</h3>
					<a th:href="@{/user/booking-rooms}">
						<img style="width: 450px;" src="../images/rooftop-unsplash.jpg">
					</a>
					<p>
						Rooftop Suite <br>
						The Rooftop Suite. promises an unforgettable experience with sweeping views of the city.
						Revel in beautiful details such as the plush velvet chairs on geometric patterned rugs.
					</p>
				</div>
			</div>

			<div class="room-info card" style="width: 30rem; margin: 30px;">
				<div class="col-lg-12">
					<h3>TERRACE SUITE</h3>
					<a th:href="@{/user/booking-rooms}">
						<img style="width: 450px;" src="../images/terrace-pixabay.jpg">
					</a>
					<p>
						Terrace Suite <br>
						While this suite is magnificent all year long, it is during the warmer months that the terrace
						really comes into its own.
					</p>
				</div>
			</div>

			<div class="room-info card" style="width: 30rem; margin: 30px;">
				<div class="col-lg-12">
					<h3>ROYAL SUITE</h3>
					<a th:href="@{/user/booking-rooms}">
						<img style="width: 450px;" src="../images/royal-pixabay.jpg">
					</a>
					<p>
						Royal Suite <br>
						In this lavish suite the royal splendour is more pronounced than usual.
						Simply open the doors to the French balcony for unparalleled views of the Royal Palace just
						across the water.
					</p>
				</div>
			</div>

			<div class="room-info card" style="width: 30rem; margin: 30px;">
				<div class="col-lg-12">
					<h3>DELUXE ROOM</h3>
					<a th:href="@{/user/booking-rooms}">
						<img style="width: 450px;" src="../images/deluxe-pixabay.jpg">
					</a>
					<p>
						Deluxe Room <br>
						Designed with the luxury traveller in mind, our Deluxe Rooms offer a premium guestroom
						experience with generous proportions.
					</p>
				</div>
			</div>

		</div>
	</div>
</body>

</html>